/* font-styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.banner-section-container {
    max-width: 1535px;
    height: 650px;
    /* border: 2px solid red; */
    background-color: rgba(229, 84, 115, 0.1);

}

.banner-content {
    display: flex;
    /* border: 2px solid red; */
    width: 90%;
    margin: 0 auto;
}

.banner-text-container {
    width: 40%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 800px;
    padding: 0 0 0 4.5rem;
}

.banner-text-container h1{
    font-size: 2.2rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.banner-text-container p{
    margin-bottom: 1.5rem;
}

.banner-text-container button {
    margin-right: 400px;
    width: 150px;
    height: 60px;
    background-color: #E55473;
    color: white;
    border: none;
    border-radius: 1rem;
}

.banner-image-container {
    width: 60%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 5rem;
}

.banner-image-container img {
    width: 80%;
    height: 650px;
}

.featured-image-container {
    width: 90%;
    height: 720px;
    margin: 0 auto;
    margin-top: 140px;
}

.featured-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 90px;
}

.featured-title-container h1{
    font-size: 2rem;
    font-family: 900;
    margin-bottom: 5px;
}

.featured-title-container p{
    text-align: center;
}

.featured-images {
    display: flex;
    gap: 20px;
    margin: 0 auto;
}

.image-name {
    width: 181px;
    height: 35px;
    /* border: 2px solid red; */
    margin-left: 120px;
    margin-top: 20px;
    text-decoration-line: underline;
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;

}

.good-flower {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.support-container {
    width: 90%;
    height: 320px;
    /* border: 2px solid red; */
    margin-top: 105px;
    margin: 0 auto;
    background-color: #F4F4F4;

}

.delivery-content {
    width: 1090px;
    height: 147px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
}

.delivery-image {
    margin-top: 100px;
}

#group57 {
    margin-left: 80px;
}

#group58 {
    margin-left: 75px;
}

#group59 {
    margin-left: 20px;
}

.deal-container {
    width: 1519px;
    height: 620px;
    /* border: 2px solid red; */
    margin-top: 100px;
    display: flex;
    background-color: #FEF6F8;
}

.deal-content {
    width: 30%;
    height: 228px;
    margin-top: 180px;
    margin-left: 200px;
}

.deal-content h2{
    font-size: 1.9rem;
    font-weight: 900;
}

.deal-content p,
.sign-up {
    margin-top: 30px;
}

span {
    color: rgb(229, 84, 115);
}

.sign-up {
    width: 135px;
    height: 54px;
    border-radius: 4px;
    background: rgb(229, 84, 115);
    color: white;
    border: none;
}

.flower-content {
    width: 318px;
    height: 420px;
    /* border: 2px solid red; */
    margin-top: 100px;
    margin-left: 270px;
}


.first-image,
.second-image,
.third-image {
    width: 33%;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50% 50% 0 0;
}

#first {
    background-color: #F2DEE8;
}

#second {
    background-color: #DAF0F1;
}

#third {
    background-color: #E4ECDC;
}

.first-image img,
.second-image img,
.third-image img {
    width: 80%;
    height: 80%;
}

.image {
    display: block;
}
/* 
.image-name{
    text-decoration: none;
} */

.delivery-image-container {
    width: 1500px;
    height: 320px;
}

.instagram-section-container {
    width: 90%;
    height: 620px;
    margin: 0 auto;
    margin-top: 140px;
}

.instagram-text-container {
    height: 132px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.instagram-text-container h1{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.first-insta-image {
    width: 342px;
    height: 396px;
    /* border: 2px solid red;  */
}

.first-insta-image img {
    width: 80%;
    height: 80%;
    margin-left: 25px;
    margin-top: 35px;

}

.instagram-image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.deals-container {
    width: 90%;
    height: 449px;
    margin: 0 auto;
    /* border: 2px solid red; */
    background-image: url(../images/latest-deals-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.deals-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deals-content p {
    margin-bottom: 20px;
}

.deals-content input {
    width: 500px;
    height: 44px;
    padding-right: 10px;
    border: none;
    color: white;
    border-radius: 2px;
}

.btn-primary {
    width: 130px;
    height: 54px;
    margin: 0 auto;
    background-color: rgb(229, 84, 115);
    margin-left: 10px;
    border-radius: 5px;
    border: none;
}

#subscribe{
    color: white;
    height: 45px;
}
